<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <filter>
        <filter-name>DawnFilter</filter-name>
        <filter-class>com.sy.dawnfile.control.filter.DawnFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DawnFilter</filter-name>
        <url-pattern>/upmain</url-pattern>
        <servlet-name>UpMain</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Dispose</servlet-name>
        <servlet-class>com.sy.dawnfile.control.servlet.dispose.Dispose</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dispose</servlet-name>
        <url-pattern>/dispose</url-pattern>
    </servlet-mapping>
    <!--<servlet>-->
        <!--<servlet-name>Download</servlet-name>-->
        <!--<servlet-class>com.sy.dawnfile.control.servlet.download.DownLoad</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>Download</servlet-name>-->
        <!--<url-pattern>/download</url-pattern>-->
    <!--</servlet-mapping>-->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.sy.dawnfile.control.servlet.login.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.sy.dawnfile.control.servlet.register.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QuitLogin</servlet-name>
        <servlet-class>com.sy.dawnfile.control.servlet.quitlogin.QuitLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuitLogin</servlet-name>
        <url-pattern>/quitlogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpLoad</servlet-name>
        <servlet-class>com.sy.dawnfile.control.servlet.upload.UpLoad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpLoad</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpMain</servlet-name>
        <servlet-class>com.sy.dawnfile.control.servlet.upmain.UpMain</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpMain</servlet-name>
        <url-pattern>/upmain</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10080</session-timeout>
    </session-config>
</web-app>